.Intro {
  text-align: center;
  margin: 10px;
}
#TituloPerfilProfesional {
  margin-bottom: 3px;
}
#TextoPerfilProfesional {
  margin-top: 3px;
  text-align: justify;
}
#Escuela {
  font-weight: bold;
  letter-spacing: .1rem;
}
#FechaEducacion {
  color: red;
  font-style: italic;
}
